@model YazilimIsi.WebApp.Models.AnasayfaIslerViewModel

@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Isler";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>158 Yazılım İşi Bekliyor  @ViewBag.tes01</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="job_filter white-bg">
                    <div class="form_inner white-bg">
                        <h3>Filtreleme</h3>
                        <form asp-controller="Anasayfa" asp-action="Isler" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <input id="key" name="key" type="text" value="@ViewBag.JobSearchKey" placeholder="Anahtar Kelime">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select id="city" name="city" class="wide" style="display: none;">
                                            @if (ViewBag.JobSearchCity != null)
	                                        {
                                                <option>@ViewBag.JobSearchCity</option>
	                                        }
                                            <option>Bütün Konumlar</option>
                                            <option>İstanbul</option>
                                            <option>Balıkesir</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select id="category" name="category" class="wide" style="display: none;">
                                            @if (ViewBag.JobSearchCategory != null)
                                            {
                                                <option>@ViewBag.JobSearchCategory</option>
                                            }
                                            <option>Bütün İlanlar</option>
                                            <option>Tüm Yazılım Kategorisi</option>
                                            <option>Frontend Yazılım</option>
                                            <option>Backend Yazılım</option>
                                            <option>Full Stack Yazılım</option>
                                            <option>Mobil Uygulama Geliştirme</option>
                                            <option>Masaüstü Uygulama Geliştirme</option>
                                            <option>Gömülü Sistem Yazılımı</option>
                                            <option>Veritabanı Programcılığı</option>
                                            <option>Oyun Geliştirme</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="range_wrap">
                                        <label for="amount">Zaman Aralığı:</label>
                                        <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 3.04878%; width: 96.9512%;"></div>
                                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 3.04878%;"></span>
                                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
                                        </div>
                                        <p>
                                            <input type="text" id="amount" readonly="" style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="range_wrap">
                                        <label for="amount">Fiyat Aralığı:</label>
                                        <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 3.04878%; width: 96.9512%;"></div>
                                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 3.04878%;"></span>
                                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
                                        </div>
                                        <p>
                                            <input type="text" id="amount" readonly="" style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="reset_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Yazılım İşi Ara</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>Yazılım İşleri Listesi</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="serch_cat d-flex justify-content-end">
                                    <select style="display: none;">
                                        <option data-display="Son Eklenenler">Son Eklenenler</option>
                                        <option value="1">Çok Görüntülenenler</option>
                                        <option value="2">Ücreti En Yüksek</option>
                                        <option value="4">Zaman Aralığı En Yüksek</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="row">

                        @if (Model.Jobs.Count() > 0)
                        {
                            <!-- Yazılım İşi Start -->
                            @foreach (var item in Model.Jobs)
                            {
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="thumb">
                                                <img src="~/img/svg_icon/1.svg" alt="">
                                            </div>
                                            <div class="jobs_conetent">
                                                <a href="/Anasayfa/IsDetay/@item.Id"><h4 style="font-size:22px;">@item.Title</h4></a>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p> <i class="fa fa-map-marker"></i> @item.Location / Türkiye</p>
                                                    </div>

                                                    <div class="location">
                                                        <p> <i class="fa fa-clock-o"></i> @item.Category</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                                <a href="/Anasayfa/IsDetay/@item.Id" class="boxed-btn3">Hemen İncele</a>
                                            </div>
                                            <div class="date">
                                                <p>Eklenme Tarihi: @Convert.ToDateTime(item.CreatedDate).ToShortDateString()</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Yazılım İşi End -->
                        }
                        else
                        {
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <h5>Herhangi Bir Yazılım İşi Bulunamadı...</h5>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    @{ 
                                        string anahtar = "";
                                        string sehir = "";
                                        string kategori = "";
                                        if (ViewBag.JobSearchKey != null)
                                        {
                                            anahtar = ViewBag.JobSearchKey;
                                        }
                                        if (ViewBag.JobSearchCity != null)
                                        {
                                            sehir = ViewBag.JobSearchCity;
                                        }
                                        if (ViewBag.JobSearchCategory != null)
                                        {
                                            kategori = ViewBag.JobSearchCategory;
                                        }
                                    }
                                    <li><a href="@Url.Action("Isler", new { sayfa = Model.MyPagingModel.PageIndex - 1, sehir = sehir, anahtar=anahtar, kategori = kategori })"> <i class="ti-angle-left"></i> </a></li>
                                    @for (var p = 1; p <= Model.MyPagingModel.PageCount; p++)
                                    {                          
                                        <li><a href="@Url.Action("Isler", new { sayfa = p, sehir = sehir, anahtar=anahtar, kategori = kategori })"><span>@p</span></a></li>
                                    }
                                    <li><a href="@Url.Action("Isler", new { sayfa = Model.MyPagingModel.PageIndex + 1, sehir = sehir, anahtar=anahtar, kategori = kategori })"> <i class="ti-angle-right"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
