@model YazilimIsi.WebApp.Models.UserViewModels
@{
    ViewData["Title"] = "UyeProfil";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Hoşgeldin : <span>@Model.User.Name</span> <span>@Model.User.Surname</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        @if (TempData["AddSuccessMessage"] != null)
        {
            <blockquote class="generic-blockquote">@TempData["AddSuccessMessage"]</blockquote>
        }

        @if (TempData["UpdateSuccessMessage"] != null)
        {
            <blockquote class="generic-blockquote">@TempData["UpdateSuccessMessage"]</blockquote>
        }

        <div class="row text-center">

            <div class="col-md-4">

                <!-- Uye Profil Fotografi -->
                <div class="card">
                    <img class="card-img-top" src="~/ImagesUser/@Model.User.Photo" alt="@Model.User.Username"  />
                    <div class="card-body">

                        <a href="/Isveren/ProfilDuzenle/" class="genric-btn info-border">Profili Düzenle</a> <br /><br />
                        <a href="/Isveren/FotografDuzenle/" class="genric-btn info-border">Fotoğrafı Düzenle</a>

                    </div>
                </div>
                <br />
                <!-- Bakiye Ve Para Yükleme -->
                <div class="card">
                    <div class="card-body">

                        <h3>Bakiye</h3>
                        <hr />

                        <p>@Model.User.Money TL</p>

                        <a href="#" class="genric-btn info-border">Para Yükleme</a> <br /><br />
                        <a href="/Isveren/HesapHareketleri/" class="genric-btn info-border">Hesap Hareketlerini İncele</a>

                    </div>
                </div>
                <br />
                <!-- Teknik Bildirim -->
                <div class="card">
                    <div class="card-body">

                        <h3>Teknik Bildirim</h3>
                        <hr />

                        <p>@ViewBag.UserSupportsCountByOpen Açık Bildirim</p>

                        <a href="/Uye/YeniTeknikBildirim/" class="genric-btn info-border">Yeni Bildirim Oluştur</a> <br /><br />
                        <a href="/Uye/TeknikBildirimler/" class="genric-btn info-border">Bütün Hareketlerini İncele</a>

                    </div>
                </div>
                <br />
                <!-- Bilgi Kutusu -->
                <div class="card">
                    <div class="card-body">

                        <h3>Bilgi Kutusu</h3>
                        <hr />

                        <p>3 Bilgi Mesajı</p>

                        <a href="#" class="genric-btn info-border">Bilgi Mesajlarını Görüntüle</a>

                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <!-- ISLEMLER -->
                <div class="card">
                    <div class="card-body">

                        <h3>Hızlı İşlemler</h3>
                        <hr />

                        <a href="/Isveren/YeniIsOlustur/" class="genric-btn info-border">Yeni İş Oluştur</a>
                        <br />
                    </div>
                </div>
                <br />
                <!-- Son 3 Ayda Verdiginiz Teklifler -->
                <div class="card">
                    <div class="card-body">

                        <h3>Oluşturduğunuz İşler</h3>
                        <hr />
                        @foreach (var item in Model.UserJobs)
                        {
                            <a href="/Isveren/IsDetay/@item.Id">@item.Title - @Convert.ToDateTime(item.CreatedDate).ToShortDateString() </a><br />
                        }
                        <br />
                        <a href="/Isveren/Isler" class="genric-btn info-border">Tamamını Görüntüle</a>

                    </div>
                </div>
                <br />
                <!-- ISTATISTIKLER -->
                <div class="card">
                    <div class="card-body">

                        <h3>İstatistikleriniz</h3>
                        <hr />

                        <a href=""><b>Toplam İş : </b>@ViewBag.UserCreatedJobsCount</a><br />
                        <a href=""><b>Tamamlanan İş : </b>@ViewBag.UserCreatedAndCompletedJobsCount</a><br />
                        <a href=""><b>İşlere Gelen Teklif Sayısı : </b>@ViewBag.UserJobsOffersCount</a><br />
                        <br />
                    </div>
                </div>
                <br />

            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
