@model YazilimIsi.WebApp.Models.YazilimciViewModels
@{
    ViewData["Title"] = "YazilimciProfil";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Hoşgeldin : <span>@Model.Developer.Name</span> <span>@Model.Developer.Surname</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        @if (TempData["AddSuccessMessage"] != null)
        {
            <blockquote class="generic-blockquote">@TempData["AddSuccessMessage"]</blockquote>
        }

        <div class="row text-center">
            <div class="col-md-4">

                <!-- Uye Profil Fotografi -->
                <div class="card">
                    <img class="card-img-top" src="~/ImagesDeveloper/@Model.Developer.Photo" alt="@Model.Developer.Username">
                    <div class="card-body">
                        <a href="/Yazilimci/ProfilDuzenle/" class="genric-btn info-border">Profili Düzenle</a> <br /><br />
                        <a href="/Yazilimci/FotografDuzenle/" class="genric-btn info-border">Fotoğrafı Düzenle</a>

                    </div>
                </div>
                <br />
                <!-- Bakiye Ve Para Yükleme -->
                <div class="card">
                    <div class="card-body">

                        <h3>Bakiye</h3>
                        <hr />

                        <p>2.00 TL</p>

                        <a href="#" class="genric-btn info-border">Para Yükleme</a> <br /><br />
                        <a href="/Yazilimci/HesapHareketleri/" class="genric-btn info-border">Hesap Hareketlerini İncele</a>

                    </div>
                </div>
                <br />
                <!-- Teknik Bildirim -->
                <div class="card">
                    <div class="card-body">

                        <h3>Teknik Bildirim</h3>
                        <hr />

                        <p>0 Açık Bildirim</p>

                        <a href="/Uye/YeniTeknikBildirim/" class="genric-btn info-border">Yeni Bildirim Oluştur</a> <br /><br />
                        <a href="/Uye/TeknikBildirimler/" class="genric-btn info-border">Bütün Hareketlerini İncele</a>

                    </div>
                </div>
                <br />
                <!-- Bilgi Kutusu -->
                <div class="card">
                    <div class="card-body">

                        <h3>Bilgi Kutusu</h3>
                        <hr />

                        <p>3 Bilgi Mesajı</p>

                        <a href="#" class="genric-btn info-border">Bilgi Mesajlarını Görüntüle</a>

                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <!-- Son 3 Ayda Verdiginiz Teklifler -->
                <div class="card">
                    <div class="card-body">

                        <h3>Son Verdiğiniz 5 Teklif</h3>
                        <hr />

                        @if (Model.LastFiveOffers.Count > 0)
                        {
                            @foreach (var item in Model.LastFiveOffers)
                            {
                                <a href="/Yazilimci/TeklifDetay/@item.Id">@item.Job.Title</a><br />
                            }
                        }
                        else
                        {
                            <p>Henüz Teklif Vermediniz.</p>
                        }
                        <br />
                        <a href="/Yazilimci/Teklifler/" class="genric-btn info-border">Tamamını Görüntüle</a>

                    </div>
                </div>
                <br />
                <!-- PORTFOLYO -->
                <div class="card">
                    <div class="card-body">

                        <h3>Portfolyonuz</h3>
                        <hr />

                        @if (Model.LastFivePortfolio.Count > 0)
                        {
                            @foreach (var item in Model.LastFivePortfolio)
                            {
                                <a href="/Yazilimci/PortfolyoDetay/@item.Id">@item.ProjectName</a><br />
                            }
                        }
                        else
                        {
                            <p>Herhangi Bir Portfolya Eklemediniz</p>
                        }
                        <br />
                        <a href="/Yazilimci/Portfolyo" class="genric-btn info-border">Tamamını Görüntüle</a>
                        <a href="#" data-toggle="modal" data-target="#modalPortfolyoEkle" class="genric-btn info-border">Yeni Portfolyo Ekle</a>
                    </div>
                </div>
                <br />
                <!-- YETENEKLER -->
                <div class="card">
                    <div class="card-body">

                        <h3>Yetenekleriniz</h3>
                        <hr />

                        @if (Model.DeveloperSkills.Count > 0)
                        {
                            @foreach (var item in Model.DeveloperSkills)
                            {
                                <button onclick="showModal('@item')" style="border:1px solid #2c3e50;padding-left:6px;padding-right:6px;border-radius:5px;margin:3px;">@item</button>
                            }
                        }
                        else
                        {
                            <p>Herhangi Bir Yetenek Eklenmemiş</p>
                        }
                        <br /><br />
                        <a href="#" class="genric-btn info-border">Tamamını Görüntüle</a>
                        <button data-toggle="modal" data-target="#modalYetenekEkle" class="genric-btn info-border">Yeni Yetenek Ekle</button>
                    </div>
                </div>
                <br />
                <!-- ILGILENDIGIN ALANLAR -->
                <div class="card">
                    <div class="card-body">

                        <h3>İlgilendiğiniz Alanlar</h3>
                        <hr />

                        @if (Model.DeveloperAreas.Count > 0)
                        {
                            @foreach (var item in Model.DeveloperAreas)
                            {
                                <button onclick="showModal2('@item')" style="border:1px solid #2c3e50;padding-left:6px;padding-right:6px;border-radius:5px;margin:3px;">@item</button>
                            }
                        }
                        else
                        {
                            <p>Herhangi Bir Alan Eklenmemiş</p>
                        }
                        <br /><br />
                        <a href="#" class="genric-btn info-border">Tamamını Görüntüle</a>
                        <button data-toggle="modal" data-target="#modalIlgiAlaniEkle" class="genric-btn info-border">Yeni İlgi Alanı Ekle</button>
                    </div>
                </div>
                <br />
                <!-- ODULLER -->
                <div class="card">
                    <div class="card-body">

                        <h3>Kazandığınız Ödüller</h3>
                        <hr />

                        @if (Model.LastFiveAwards.Count > 0)
                        {
                            @foreach (var item in Model.LastFiveAwards)
                            {
                                <a href="/Yazilimci/OdulDetay/@item.Id">@item.Title</a><br />
                            }
                        }
                        else
                        {
                            <p>Herhangi Bir Ödül Eklenmemiş</p>
                        }
                        <br />
                        <a href="/Yazilimci/Oduller/" class="genric-btn info-border">Tamamını Görüntüle</a>
                        <a href="#" data-toggle="modal" data-target="#modalOdulEkle" class="genric-btn info-border">Yeni Ödül Ekle</a>
                    </div>
                </div>
                <br />
                <!-- EGITIMLER -->
                <div class="card">
                    <div class="card-body">

                        <h3>Eklediğiniz Eğitimler</h3>
                        <hr />

                        @if (Model.LastFiveEducations.Count > 0)
                        {
                            @foreach (var item in Model.LastFiveEducations)
                            {
                                <a href="/Yazilimci/EgitimDetay/@item.Id">@item.Title</a><br />
                            }
                        }
                        else
                        {
                            <p>Herhangi Bir Eğitim Eklenmemiş</p>
                        }
                        <br />
                        <a href="/Yazilimci/Egitim/" class="genric-btn info-border">Tamamını Görüntüle</a>
                        <a href="#" data-toggle="modal" data-target="#modalEgitimEkle" class="genric-btn info-border">Yeni Eğitim Ekle</a>
                    </div>
                </div>
                <br />
            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
<!-- Portfolyo Ekle Modal -->
<div class="modal fade" id="modalPortfolyoEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Portfolyo Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu Portfolyoyu Gerçekten Eklemek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="PortfolyoEkle" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="FormPortfolio.ProjectName" type="text" class="form-control" placeholder="Proje İsmini Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <input asp-for="FormPortfolio.CreatedDate" type="text" class="form-control" placeholder="Proje Oluşturma Tarihini Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <input asp-for="FormPortfolio.ProjectUrl" type="text" class="form-control" placeholder="Proje Ek Url Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <textarea asp-for="FormPortfolio.Description" class="form-control" rows="6" placeholder="Proje Açıklamasını Giriniz..." minlength="10" required></textarea>
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">Yeni Portfolyo Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Odul Ekle Modal -->
<div class="modal fade" id="modalOdulEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Ödül Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu Ödülü Gerçekten Eklemek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="OdulEkle" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="FormAward.Title" type="text" class="form-control" placeholder="Ödül Başlığını Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <input asp-for="FormAward.Date" type="text" class="form-control" placeholder="Ödül Verilme Tarihini Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <textarea asp-for="FormAward.Description" class="form-control" rows="6" placeholder="Ödül Açıklamasını Giriniz..." minlength="10" required></textarea>
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">Yeni Ödül Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Egitim Ekle Modal -->
<div class="modal fade" id="modalEgitimEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Eğitim Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu Eğitimi Gerçekten Eklemek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="EgitimEkle" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="FormEducation.Title" type="text" class="form-control" placeholder="Eğitim Başlığını Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <input asp-for="FormEducation.StartDate" type="text" class="form-control" placeholder="Eğitim Başlangıç Tarihini Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <input asp-for="FormEducation.EndDate" type="text" class="form-control" placeholder="Eğitim Bitiş Tarihini Giriniz..." required />
                        </div>
                        <div class="form-group">
                            <textarea asp-for="FormEducation.Description" class="form-control" rows="6" placeholder="Eğitim Açıklamasını Giriniz..." minlength="10" required></textarea>
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">Yeni Eğitim Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Yetenek Ekle Modal -->
<div class="modal fade" id="modalYetenekEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Yetenek Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu Yeteneği Gerçekten Eklemek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="YetenekEkle" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input id="yetenek" name="yetenek" type="text" class="form-control" placeholder="Yeteneği Giriniz..." required />
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">Yeni Yetenek Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Yetenek Sil Modal -->
<div class="modal fade" id="modalYetenekSil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yetenek Silme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu Yeteneği Gerçekten Silmek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="YetenekSil" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input id="yetenek" name="yetenek" type="text" class="form-control" readonly />
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">Yetenek Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal(data) {
        //you can do anything with data, or pass more data to this function. i set this data to modal header for example
        $("#modalYetenekSil #yetenek").val(data);
        $("#modalYetenekSil").modal();
    }
</script>

<!-- İlgi Alani Ekle Modal -->
<div class="modal fade" id="modalIlgiAlaniEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni İlgi Alanı Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu İlgi Alanını Gerçekten Eklemek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="IlgiAlaniEkle" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input id="alan" name="alan" type="text" class="form-control" placeholder="İlgi Alanını Giriniz..." required />
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">Yeni İlgi Alanı Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Yetenek Sil Modal -->
<div class="modal fade" id="modalIlgiAlaniSil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">İlgi Alanı Silme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu İlgi Alanını Gerçekten Silmek İstiyor Musun?
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form asp-controller="Yazilimci" asp-action="IlgiAlaniSil" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input id="alan" name="alan" type="text" class="form-control" readonly />
                        </div>
                        <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="genric-btn info">İlgi Alanı Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal2(data) {
        //you can do anything with data, or pass more data to this function. i set this data to modal header for example
        $("#modalIlgiAlaniSil #alan").val(data);
        $("#modalIlgiAlaniSil").modal();
    }
</script>