@model YazilimIsi.Entity.Models.User
@{
    ViewData["Title"] = "FotografDuzenle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Fotoğraf Düzenleme Sayfası</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        @if (TempData["UpdateErrorMessage"] != null)
        {
            <blockquote class="generic-blockquote">@TempData["UpdateErrorMessage"]</blockquote>
        }

        <div class="row text-center">

            <div class="col-md-4">

                <!-- Uye Profil Fotografi -->
                <div class="card">
                    <img class="card-img-top" src="~/ImagesUser/@Model.Photo" alt="@Model.Username" />
                    <div class="card-body">

                        <a href="/Isveren/ProfilDuzenle/" class="genric-btn info-border">Profili Düzenle</a>

                    </div>
                </div>
                <br />
                <!-- Bakiye Ve Para Yükleme -->
                <div class="card">
                    <div class="card-body">

                        <h3>Bakiye</h3>
                        <hr />

                        <p>@Model.Money TL</p>

                        <a href="#" class="genric-btn info-border">Para Yükleme</a> <br /><br />
                        <a href="/Isveren/HesapHareketleri/" class="genric-btn info-border">Hesap Hareketlerini İncele</a>

                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <!-- TEMEL PROFIL DUZENLEME -->
                <div class="card">
                    <div class="card-body">

                        <h3>Temel Profil Bilgileri</h3>
                        <hr />

                        <form asp-controller="Isveren" asp-action="FotografDuzenle" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data">
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Aktif Fotoğraf</label><br />
                                <img src="~/ImagesUser/@Model.Photo" width="250" />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Aktif Fotoğraf İsmi</label>
                                <input class="form-control" type="text" value="@Model.Photo" readonly />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Yeni Fotoğraf</label>
                                <input class="form-control" type="file" name="Image" required />
                                <small>* Lütfen Yeni Yüklenecek Fotoğrafınızı Seçiniz.</small>
                            </div>
                            <button type="submit" class="genric-btn info-border">Fotoğrafı Güncelle</button>
                        </form>
                        <br />
                    </div>
                </div>
                <br />


            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
