@model YazilimIsi.WebApp.Models.IsverenIsDetayViewModel
@{
    ViewData["Title"] = "IsDetay";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>İş Detayı</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">



        <div id="accordion">
            <!-- İlan Genel Bilgiler Burada Olacak -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h3 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            İlan Genel Bilgiler
                        </button>
                    </h3>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Başlık</td>
                                    <td>@Model.Job.Title</td>
                                </tr>
                                <tr>
                                    <td>Konum</td>
                                    <td>@Model.Job.Location</td>
                                </tr>
                                <tr>
                                    <td>Oluşturulma Tarihi</td>
                                    <td>@Model.Job.CreatedDate</td>
                                </tr>
                                <tr>
                                    <td>Kategori</td>
                                    <td>@Model.Job.Category</td>
                                </tr>
                                <tr>
                                    <td>Ücret</td>
                                    <td>@Model.Job.Price</td>
                                </tr>
                                <tr>
                                    <td>Zaman</td>
                                    <td>@Model.Job.Time</td>
                                </tr>
                                <tr>
                                    <td>Onay Durumu</td>
                                    <td>@Model.Job.IsConfirm</td>
                                </tr>
                                <tr>
                                    <td>Tamamlanma Durumu</td>
                                    <td>@Model.Job.IsCompleted</td>
                                </tr>
                                <tr>
                                    <td>Gösterim Sayısı</td>
                                    <td>@Model.Job.ViewCount</td>
                                </tr>
                            </tbody>
                        </table>
                        <small>* İlan İlk Oluşturulduğu Zaman Onay Durumu İçin Sistem Yöneticilerine Gönderilir. Bu Yüzden Yeni Oluşturduğunuz İlanlarda Onay Durumunun Hayır Olması Normaldir. Gerekli Kontrolün Ardından Size Gerekli Bilgi Dönüşü Sağlanacaktır.</small>
                        <br />
                        <small>* İlan Tamamlanma Durumunu Evet Olarak İşaretlediğiniz Takdirde İlanınız Artık Listede Gözükmeyecektir. Bu Yüzden Bu Seçeneği Seçerken Dikkatli Olunuz.</small>
                    </div>
                </div>
            </div>

            <!-- İlan Ek Bilgiler Ve Açıklama Burada Olacak -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            İlan Ek Bilgiler Ve Açıklama Yazısı
                        </button>
                    </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                        <div class="card">
                            <div class="card-header">
                                İlan Küçük Fotoğraf
                            </div>
                            <div class="card-body">
                                <img src="~/ImagesJob/@Model.Job.Photo" width="250" />
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                İlan Açıklama Yazısı
                            </div>
                            <div class="card-body">
                                <p>@Model.Job.Description</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- İlana Gelen Teklifler Burada Olacak -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            İlana Gelen Teklifleri Görüntüle - (5 Teklif) 
                        </button>
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">

                        <div class="table-responsive-sm">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Yazılımcı Adı Soyadı</th>
                                        <th scope="col">Ücret</th>
                                        <th scope="col">Gün</th>
                                        <th scope="col">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var offer in Model.Offers)
                                    {
                                        <tr>
                                            <td>@offer.Developer.Name @offer.Developer.Surname</td>
                                            <td>@offer.Price TL</td>
                                            <td>@offer.Time Gün</td>
                                            <td>
                                                <a href="" class="btn btn-outline-info btn-sm">İncele</a>
                                                <a href="" class="btn btn-outline-danger btn-sm">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h4>İlan İle İlgili İşlemler</h4>
                <hr />
                <a href="#" data-toggle="modal" data-target="#modalTamamlandi" class="genric-btn info">Tamamlandı Olarak İşaretle</a>
                <a href="#" data-toggle="modal" data-target="#modalYayindanKaldir" class="genric-btn danger">İlanı Yayından Kaldır</a>
            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
<!-- Modal -->
<div class="modal fade" id="modalTamamlandi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">İlanı Tamamlandı Olarak İşaretle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu İlanı Gerçekten Tamamlandı Olarak İşaretlemek İstiyor Musun? Bu İşlemin Ardından İlanın Listede Gözükmeyecektir.
            </div>
            <div class="modal-footer">
                <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                <button type="button" class="genric-btn info">Tamamlandı Olarak İşaretle</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalYayindanKaldir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">İlanı Yayından Kaldır</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu İlanı Gerçekten Yayından Kaldırmak İstiyor Musun? Bu İşlemin Ardından İlanın Listede Gözükmeyecektir.
            </div>
            <div class="modal-footer">
                <button type="button" class="genric-btn danger" data-dismiss="modal">Kapat</button>
                <button type="button" class="genric-btn info">İlanı Yayından Kaldır</button>
            </div>
        </div>
    </div>
</div>