@model YazilimIsi.Entity.Models.User
@{
    ViewData["Title"] = "ProfilDuzenle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Profil Düzenleme Sayfası</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        @if (TempData["UpdateErrorMessage"] != null)
        {
            <blockquote class="generic-blockquote">@TempData["UpdateErrorMessage"]</blockquote>
        }

        <div class="row text-center">

            <div class="col-md-4">

                <!-- Uye Profil Fotografi -->
                <div class="card">
                    <img class="card-img-top" src="~/ImagesUser/@Model.Photo" alt="@Model.Username"  />
                    <div class="card-body">

                        <a href="/Isveren/FotografDuzenle/" class="genric-btn info-border">Fotoğrafı Düzenle</a>

                    </div>
                </div>
                <br />
                <!-- Bakiye Ve Para Yükleme -->
                <div class="card">
                    <div class="card-body">

                        <h3>Bakiye</h3>
                        <hr />

                        <p>@Model.Money TL</p>

                        <a href="#" class="genric-btn info-border">Para Yükleme</a> <br /><br />
                        <a href="/Isveren/HesapHareketleri/" class="genric-btn info-border">Hesap Hareketlerini İncele</a>

                    </div>
                </div>
            </div>
            <div class="col-md-8">


                <!-- TEMEL PROFIL DUZENLEME -->
                <div class="card">
                    <div class="card-body">

                        <h3>Temel Profil Bilgileri</h3>
                        <hr />

                        <form asp-controller="Isveren" asp-action="DuzenleTemel" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data">
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Adı</label>
                                <input type="text" asp-for="Name" class="form-control" value="@Model.Name" required />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Soyadı</label>
                                <input type="text" asp-for="Surname" class="form-control" value="@Model.Surname" required />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren İş</label>
                                <input type="text" asp-for="Job" class="form-control" value="@Model.Job" required />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Mail Adresi</label>
                                <input type="text" asp-for="Mail" class="form-control" value="@Model.Mail" readonly />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>İşveren Telefon Numarası</label>
                                <input type="text" asp-for="Phone" class="form-control" value="@Model.Phone" required />
                            </div>
                            <button type="submit" class="genric-btn info-border">Bilgileri Güncelle</button>
                        </form>
                        <br />
                    </div>
                </div>
                <br />

                <!-- ACIKLAMA PROFIL DUZENLEME -->
                <div class="card">
                    <div class="card-body">

                        <h3>Açıklama Yazısı Düzenleme</h3>
                        <hr />

                        <form asp-controller="Isveren" asp-action="DuzenleAciklama" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data">
                            <div class="form-group col-md-8 mx-auto">
                                <label>Açıklama Yazısı</label>
                                <textarea asp-for="Description" class="form-control" rows="6" required>@Model.Description</textarea>
                            </div>
                            <button type="submit" class="genric-btn info-border">Bilgileri Güncelle</button>
                        </form>
                        <br />
                    </div>
                </div>
                <br />

                <!-- ADRES PROFIL DUZENLEME -->
                <div class="card">
                    <div class="card-body">

                        <h3>Adres Bilgileri Düzenleme</h3>
                        <hr />

                        <form asp-controller="Isveren" asp-action="DuzenleAdres" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data">
                            <div class="form-group col-md-8 mx-auto">
                                <label>Ülke</label><br />
                                <select class="form-control" asp-for="Country" required>
                                    <option>Türkiye</option>
                                </select><br /><br />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>Şehir</label>
                                <input type="text" asp-for="City" class="form-control" value="@Model.City" required />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>Adres</label>
                                <textarea asp-for="Address" class="form-control" rows="5" required>@Model.Address</textarea>
                            </div>
                            <button type="submit" class="genric-btn info-border">Bilgileri Güncelle</button>
                        </form>
                        <br />
                    </div>
                </div>
                <br />

                <!-- SIFRE DUZENLEME -->
                <div class="card">
                    <div class="card-body">

                        <h3>Şifre Düzenleme</h3>
                        <hr />

                        <form asp-controller="Isveren" asp-action="DuzenleSifre" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data">
                            <div class="form-group col-md-8 mx-auto">
                                <label>Eski Şifre</label>
                                <input type="text" id="EskiSifre" name="EskiSifre" class="form-control" placeholder="Eski Şifrenizi Giriniz..." required />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>Yeni Şifre</label>
                                <input type="text" id="YeniSifre1" name="YeniSifre1" class="form-control" placeholder="Yeni Şifrenizi Giriniz..." required />
                            </div>
                            <div class="form-group col-md-8 mx-auto">
                                <label>Yeni Şifre Tekrar</label>
                                <input type="text" id="YeniSifre2" name="YeniSifre2" class="form-control" placeholder="Yeni Şifrenizi Tekrar Giriniz..." required />
                            </div>
                            <button type="submit" class="genric-btn info-border">Şifre Güncelle</button>
                        </form>
                        <br />
                    </div>
                </div>
                <br />

            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
